// mixins - reuseable style fn's
@import "src/common.scss";

.product-card {
  .container-fluid {
    background-color: red;
  }

  .image {
    height: 250px;
    object-fit: contain;
  }

  .product-text {
    font-size: 13px;
    color: #666;
  }

  .content {
    height: 90px;
  }

  .desc {
    overflow: hidden;
    height: 60px;
    text-overflow: ellipsis;
  }

  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.card:hover {
    @include card-box-shadow;
  }
}
